# SI 370 Kaggle: Restaurant Revenue Predictions

In [2]:
import pandas as pd
import numpy as np
import math
from datetime import datetime

In [3]:
test = pd.read_csv('data/test.csv')
train = pd.read_csv('data/train.csv')

In [4]:
test.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0

In [5]:
test.columns

Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
       'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
       'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
       'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
       'P36', 'P37'],
      dtype='object')

In [6]:
train.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [7]:
train['Open Date'] = pd.to_datetime(train['Open Date'], format='%m/%d/%Y')
test['Open Date'] = pd.to_datetime(test['Open Date'], format='%m/%d/%Y')

date_format = "%m/%d/%Y"
recent_date = datetime.strptime('11/19/2019', date_format)

train['OpenDays'] = recent_date - train['Open Date']
train['OpenDays'] = train['OpenDays'].astype('timedelta64[D]').astype(int)

test['OpenDays'] = recent_date - test['Open Date']
test['OpenDays'] = test['OpenDays'].astype('timedelta64[D]').astype(int)

In [8]:
test.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,OpenDays
0,0,2011-01-22,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,3223
1,1,2011-03-18,Konya,Other,IL,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,3168
2,2,2013-10-30,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,2211
3,3,2013-05-06,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,3.0,0,4,0,0,0,0,0,0,2388
4,4,2013-07-31,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,2302

In [9]:
# Visualization Ideas: Heatmap, Bar Graph for correlation, Dimension Reduction, Important features graph 
# TODO: Make dummies for: City, City Group, Type
# TODO: Convert 'Open Date' to variable that tracks how long the restaurant has been open

In [10]:
train = train.dropna()
test = test.dropna()

In [11]:
import numpy as np
import pandas as pd
import scipy as sp
import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import sklearn.ensemble as skens
import sklearn.metrics as skmetric
import sklearn.naive_bayes as sknb
import sklearn.tree as sktree
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style='white', color_codes=True, font_scale=1.3)
import sklearn.externals.six as sksix
import IPython.display as ipd

from sklearn import metrics
import os

/opt/anaconda3/lib/python3.7/site-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [23]:
train.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P30,P31,P32,P33,P34,P35,P36,P37,revenue,OpenDays
0,0,1999-07-17,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,5,3,4,5,5,4,3,4,5653753.0,7430
1,1,2008-02-14,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,0,0,0,0,0,0,0,0,6923131.0,4296
2,2,2013-03-09,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,0,0,0,0,0,0,0,0,2055379.0,2446
3,3,2012-02-02,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,25,12,10,6,18,12,12,6,2675511.0,2847
4,4,2009-05-09,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,5,1,3,2,3,4,3,3,4316715.0,3846

In [24]:
train_dummies = pd.get_dummies(train,columns=['City','City Group','Type'])
train_dummies.shape

(137, 80)

In [25]:
train_dummies.head(1)

,Id,Open Date,P1,P2,P3,P4,P5,P6,P7,P8,...,City_Trabzon,City_Uşak,City_İstanbul,City_İzmir,City_Şanlıurfa,City Group_Big Cities,City Group_Other,Type_DT,Type_FC,Type_IL
0,0,1999-07-17,4,5.0,4.0,4.0,2,2,5,4,...,0,0,1,0,0,1,0,0,0,1

In [27]:
## Build and train the classifier
dt_model = sktree.DecisionTreeClassifier(max_depth=1,
                                         criterion='entropy')

train_dummies=train_dummies.drop(['revenue','Id','Open Date'], axis=1)

dt_model.fit(train_dummies,train['revenue'])

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=1,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [28]:
predicted_revenue = dt_model.predict(train_dummies)
train['predicted_revenue'] = predicted_revenue
train.sample(10)

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P31,P32,P33,P34,P35,P36,P37,revenue,OpenDays,predicted_revenue
47,47,2009-12-23,İzmir,Big Cities,IL,4,5.0,5.0,3.0,1,...,1,2,2,3,5,5,1,7865428.0,3618,1149870.0
98,98,2011-03-11,Denizli,Other,FC,3,4.0,4.0,4.0,1,...,0,0,0,0,0,0,0,2344689.0,3175,1270499.0
16,16,2000-01-07,İstanbul,Big Cities,FC,3,5.0,4.0,4.0,2,...,0,0,0,0,0,0,0,19696939.0,7256,1270499.0
72,72,2009-08-05,İzmir,Big Cities,IL,3,5.0,4.0,4.0,2,...,3,3,2,3,4,3,1,2525375.0,3758,1149870.0
99,99,1999-12-18,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,5,4,2,5,5,5,3,13575224.0,7276,1149870.0
26,26,2010-02-23,Ankara,Big Cities,IL,3,5.0,4.0,5.0,2,...,5,4,3,3,4,3,1,2267425.0,3556,1149870.0
30,30,2008-12-01,Sakarya,Other,IL,1,1.0,3.0,3.0,2,...,0,0,0,0,0,0,0,3008199.0,4005,1270499.0
132,132,2008-06-25,Trabzon,Other,FC,2,3.0,3.0,5.0,4,...,0,0,0,0,0,0,0,5787594.0,4164,1270499.0
56,56,2013-03-16,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,0,0,0,0,0,0,0,2390534.0,2439,1149870.0
92,92,2002-11-01,İstanbul,Big Cities,FC,12,7.5,7.5,6.0,2,...,0,0,0,0,0,0,0,6782425.0,6227,1149870.0